html, body, header, figure, img, figcaption, div, section, ul, li, h1, h2, h3, footer, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Girassol', cursive;
}

header {
    border-bottom: 1px solid #000;
}

header h1 {
    font-size: 26px;
}

header h1, h2 {
    text-align: center;
    font-weight: 300;
    margin: 25px 10px;
}

main div.container {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.player-moves img, .enemy-moves img {
    margin: 30px 0;
    max-width: 100px;
    opacity: 0.3;
    cursor: pointer;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #000000;
}

footer p {
    font-size: 14px;
}

footer p a {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    header h1 {
        font-size: 48px;
    }

    .player-moves img, .enemy-moves img {
        margin: 15px 0;
        max-width: 125px;
        opacity: 0.3;
        cursor: pointer;
    }
}